
:root {
    --brand-button-color:#4D5AE5;
    --basic-color:#2E2F42;
    --minor-color: #434455;
    --hero-bg-color:#2E2F42;
    --btn-bgc-hero:#404BBF;
    --text-white-color:#FFFFFF;
    --footer-text-studio:#F4F4FD;
    --footer-text :#E7E9FC;
    

}

h1,h2,h3,h4,p,ul{
    padding-left: 0;
    margin: 0;}
a {text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    color: var(--minor-color);
    background-color: var(--text-white-color);
}


li{list-style-type: none;}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header{
    background-color: var(--text-white-color);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}

.container{max-width: 1128px;
    margin: 0 auto;
        padding: 0 ;
}
.no_gap{display: block;}

.section{
    padding-top: 120px;
padding-bottom: 120px;}



/* 12345 */
/* -----------------------HEADER-------------------------------- */
.labe_web{
    color:var(--brand-button-color);
    font-family: 'Raleway', sans-serif;}

.labe_studio{
        font-family: 'Raleway', sans-serif;
        color:var(--basic-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        
}

.nav_list{
    color: var(--basic-color);
    font-weight: 700;
     font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.02em;

}
.nav_list:hover,.nav_list:focus{color: var(--minor-color);}

.nav_list_active{color: var(--brand-button-color);}

 .color_contact{
    color: var(--minor-color);
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 .color_contact:hover,.color_contact:focus{color: var(--brand-button-color);}
/* -------------------------------hero--------------------- */
 .hero{background-color:var(--hero-bg-color)}


.title-hero {
    color:var(--text-white-color);
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
       
}
.btn_hero{

            background-color: var(--brand-button-color);
            color: var(--text-white-color);
           border-radius: 4px;
           width: 170px;
            height: 51px;
            border: currentColor;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.19;
             letter-spacing: 0.04em;
             cursor: pointer;
            font-family: 'Roboto',
                    sans-serif;

}
.btn_hero:hover,.btn_hero:focus{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
.btn_hero:active{background-color:var(--btn-bgc-hero);}
/* -----------------------advantages---------------- */
.advantages_name{
    color: var(--basic-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages_text{
   color: var(--minor-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.card_set-advantages {
    display: flex;
    justify-content: space-between;
    gap: 24px;}
/* ---------------------our-job-------------- */
.title_our_job{
    color: var(--basic-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
}

.card_set{display: flex;
justify-content: space-between;
gap: 24px;
flex-wrap: wrap;}

/* ------------------team------------------ */
.team{background-color: var(--footer-text-studio);}
.title_team{
color: var(--basic-color);
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team_item{background-color: var(--text-white-color);}

.team_names{
    color: var(--basic-color);
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;

}
.team_specialty{
color: var(--minor-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ----------------------FOOTER------------------ */

.footer{background-color: var(--hero-bg-color);}
.footer_web {
    color: var(--brand-button-color);
    font-family: 'Raleway', sans-serif;
}

.footer_studio {
    font-family: 'Raleway', sans-serif;
    color: var(--footer-text-studio);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;

}
.footer_text{ 
    color: var(--footer-text);
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        
    
        letter-spacing: 0.02em;}

    /* ============================PORTFOLIO================================ */
    .btn_portfolio{ 
        font-family: 'Roboto',
            sans-serif;
        background-color: var(--footer-text-studio);
        color: var(--brand-button-color);
        border: 1px solid #E7E9FC;
            border-radius: 4px;
        font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            padding: 12px 24px;
    }
    .btn_portfolio:hover,.btn_portfolio:focus{ color: var(--footer-text-studio); background-color: var(--brand-button-color);}
     
    .list_button{display: flex;
    justify-content: center;
    gap: 24px;}

.card-set_portfolio{ 
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}



